// navigation
.p-nav {
  
  // スマホ用ナビゲーション
  @include mq() {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: $color-main;
    padding-top: 70px;
    transition: .5s;
    &.is-active {
      transition: .5s;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      z-index: 4;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq() {
      display: block;
    }
  }
  &__item {
    margin-right: $space_l;
    @include mq() {
      max-height: 80px;
      margin-right: initial;
    }
  }
  &__item--sp {
    display: none;
    @include mq() {
      display: block;
    }
  }
  &__link {
    font-weight: bold;
    color: #fff;
    font-size: $font-size_s;
    font-family: $font-family_base;
    @include mq() {
      font-size: $font-size_xl;
      text-align: center;
      display: block;
    }
    &--button {
      font-weight: bold;
      padding: $space_l $space_xl;
      font-family: $font-family_base;
      border-radius: 0;
      font-size: $font-size_s;
      @include mq(){
        display: none;
      }
    }
    &--sp {
      display: none;
      @include mq() {
        display: block;
      }
    }
    &--sp:hover {
      text-decoration: none;
    }
  }
  &__link:hover {
    text-decoration: underline;
    @include mq() {
      text-decoration: none;
    }
  }
}