.p-profEditThumbnails {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $space_xl;
  margin-bottom: $space_3xl;
  overflow: hidden;

  &__wrap {
    width: 260px;
    height: 260px;
    position: relative;
    box-sizing: border-box;
    border-width: 3px;
    background: $color_background;
    @include mq() {
      width: 200px;
      height: 200px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
  }
}